/*Geral*/
body{
    background-color: rgb(116, 53, 53);
    font: normal 25px Arial;
    padding-top: 40px;
    padding-left: 60px;
    
}

h1{
    color: rgb(214, 214, 214);
    text-align: center;
    display: block;
}


/*text + input nome - index.html*/
div.nomeJogadores{
    color: rgb(214, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 60px;
    padding-bottom: 10px;
    padding-right: 30px;
    display: inline-block;
}
div#nomeJogador1{
    float: left;
}

div#nomeJogador2{
    float: none;
}


/*input nome -index.html*/
input.n_Jogadores{
    border-radius: 25px;
    background: #ffffff;
    border: none;
    padding: 13px;
    width: 500px;
    height: 20px;
    font: normal 17px Arial;
    color: rgb(92, 92, 92);
    box-shadow: 3px 2px 10px rgba(0, 0, 0,0.2);
}

input.n_Jogadores:focus {
    border: none;
    outline: 0;
} 


/*<p> escolha de peças - index.html*/
p#pecas_escolher{
    font: normal 17px Arial;
    margin-left: 233.48px;
}

.colorPeca:hover{
    cursor: pointer;
}

/*start button -index.html*/
input#startButton{
    border-radius: 25px;
    background: #ffffff;
    border: none;
    margin-top: 60px;
    width: 200px;
    height: 40px;
    font: normal 17px Arial;
    color: rgb(92, 92, 92);
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 2px 10px rgba(0, 0, 0,0.2);
    
}

input#startButton:hover{
    background-color:rgba(0, 0, 0, 0.171);
    color: rgb(175, 175, 175);
    cursor: pointer;
    box-shadow: inset 3px 2px 10px rgba(0, 0, 0,0.2);
}


